body {
  background-image: url('../assets/SRVlogo.webp'); /* Ruta de la imagen de fondo */
  background-size: auto 20%;
 /* Hace que la imagen cubra toda la página */
  background-position: center; /* Centra la imagen */
  color: white; /* Texto blanco por defecto */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.cv-section {
  background-color: rgba(34, 34, 34, 0.8); /* Fondo oscuro con transparencia para destacar el contenido */
  color: #fff;
  text-align: center;
  padding: 60px 20px;
  margin: 40px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cv-title {
  font-size: 2rem;
  color: #e67e22;
  margin-bottom: 20px;
}

.cv-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cv-button {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cv-button:hover {
  background-color: #ca6f1e;
  transform: scale(1.1);
}
