body {
    background-color: #161010; /* Fondo negro para toda la página */
    color: white; /* Texto blanco por defecto */
    font-family: Arial, sans-serif;
  }  

.cv-section {
    background-color: #333; /* Fondo gris claro */
    color: #fff;
    text-align: center;
    padding: 60px 20px; /* Añadimos más espacio arriba y abajo */
    margin: 40px auto; /* Separación entre otros componentes */
    max-width: 600px;
    border-radius: 10px;
  }
  
  .cv-title {
    font-size: 2rem;
    color: #e67e22;
    margin-bottom: 20px;
  }
  
  .cv-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cv-button {
    padding: 12px 24px;
    background-color: #5ea890;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .cv-button:hover {
    background-color: #ee9b00;
    transform: scale(1.1);
  }
  